<div class="pageHeader">
<h1>Coaches</h1>
</div>

<div class="backgroundGray">
	<table class="appTable">

		<!-- Header Row -->
		<tr>
			<td class="coachTable-col1 standard boldMe">First</td>
			<td class="coachTable-col2 standard boldMe">Last</td>
			<td class="coachTable-col3 standard boldMe"></td>
		</tr>
		
		
		
		<!-- The Data Table -->
		{{#each dArray}}
			<tr>


				<td class="standard">{{this.FirstName}}</td>
				<td class="standard">{{this.LastName}}</td>
					
					
				<td>	

					<form action="/viewMyTeam" method="get">
						<input type="hidden" name="coach_id" value={{this._id}}>
						<input type="hidden" name="FirstName" value='{{this.FirstName}}'>
						<input type="hidden" name="LastName" value='{{this.LastName}}'>
						<input type="hidden" name="TeamName" value='{{this.TeamName}}'>
						<input type="hidden" name="UserName" value='{{this.UserName}}'>
						<input type="submit" value="View">
					</form>

				</td>
			</tr>

		{{/each}}
		



	</table>
</div>

<form action="/menu" method="get">
	<input type="submit" value="Main Menu">
</form>






