<h1>-- Coaches --</h1>

<table id="coachesTbl">

	<!-- Header Row -->
	<tr>
		<th>UserName</th>
		<th>First</th>
		<th>Last</th>
		<th>TeamName</th>
		<th>Password</th>
	</tr>
	
	<!-- The Data Table -->
	{{#each dArray}}
		<tr>
			<td>{{this.UserName}}</td>
			<td>{{this.FirstName}}</td>
			<td>{{this.LastName}}</td>
			<td>{{this.TeamName}}</td>
			<td>{{this.Password}}</td>
			<td>
				<form action="/viewTeam" method="get">
					<input type="hidden" name="coach_id" value={{this._id}}>
					<input type="submit" value="View Team">
				</form>
			</td>
		</tr>
	{{/each}}


</table>







