
<div class="pageHeader">
<h2>{{TeamName}}</h2>
<h3>Coach: {{FirstName}} {{LastName}}</h3>
</div>

<div class="backgroundGray">
	<table class="appTable" id="teamTable">

		<!-- Header Row -->
		<tr>
			<th class="teamTable-col1">Name</th>
			<th class="teamTable-col2">Pos</th>
			<th class="teamTable-col3">Team</th>
			<th class="teamTable-col4">Pts</th>
			<th class="teamTable-col5"></th>
		</tr>
		{{#if isMyTeam}}
			<!-- The Players Table (My Team) -->
			{{#each Players}}
				<tr>
					<td>{{this.LastName}}</td>
					<td>{{this.Pos}}</td>
					<td>{{this.Team}}</td>
					<td>{{this.ProjPts}}</td>
					<td>
						<!-- Option to remove is My Team -->
						<form action="/removePlayer" method="get">
							<input type="hidden" name="player_id" value={{this._id}}>
							<input type="submit" value="Remove"/>
						</form>
					</td>
				</tr>
			{{/each}}
		{{else}}
			<!-- The Players Table (Not My Team) -->
			{{#each Players}}
				<tr>
					<td>{{this.LastName}}</td>
					<td>{{this.Pos}}</td>
					<td>{{this.Team}}</td>
					<td>{{this.ProjPts}}</td>
					<td></td>
				</tr>
			{{/each}}
		{{/if}}
	</table>
</div>

<form action="/viewCoaches" method="get">
	<input type="submit" value="Back to Coaches">
</form>




	






