<h1>View Player</h1>

	<label>player_id:<input type="text" name="player_id" value="{{player_id}}" readonly></label>
	<br>
	<label>FirstName:<input type="text" name="FirstName" value="{{FirstName}}" readonly></label>
	<br>
	<label>LastName:<input type="text" name="LastName" value="{{LastName}}" readonly></label>
	<br>
	<label>Pos:<input type="text" name="Pos" value="{{Pos}}" readonly></label>
	<br>
	<label>Team:<input type="text" name="Team" value="{{Team}}" readonly></label>
	<br>
	<label>ProjPts:<input type="text" name="ProjPts" value="{{ProjPts}}" readonly></label>
	<br>
	<label>Cost:<input type="text" name="Cost" value="{{Cost}}" readonly></label>
	<br>
	<div>
	{{#if coach}}
		<p>Coach FirstName: {{coach.FirstName}}</p>
		<p>Coach LastName: {{coach.LastName}}</p>
		<p>Coach TeamName: {{coach.TeamName}}</p>
	{{else}}
		<form action="/addOnePlayer" method="get">
			<p>This player has no coach.</p>
			<input type="hidden" name="player_id" value="{{player_id}}">
			<input type="hidden" name="coach_id" value="{{UserID}}">
			<input type="submit" value="Add this Player"/>
		</form>
	{{/if}}
	</div>
	<input type="button" value="Back to All Players" onclick="window.location='/viewPlayers'"/>
	
	










